/* Stile für Antragsübersicht */
.card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
}

/* Buttons auf Antragsübersicht*/
.bearbeiten-button2 {
    background-color: #FFFFFF;
    color: #2F5A83;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.bearbeiten-button2:hover {
    background-color: #F9F9F9;
    color: #8DC63F;
}

.loeschen-button2 {
    background-color: #2F5A83;
    color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.loeschen-button2:hover {
    background-color: #8DC63F;
    color: #FFFFFF;
}

.kommentar-button2 {
    /*background-color: #8DC63F;
    color: #FFFFFF;*/
    background-color: #2F5A83;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    font-size: 14px;
}

.kommentar-button2:hover {
    /*background-color: #2F5A83;
    color: #FFFFFF;*/
    background-color: #8DC63F;
    color: #FFFFFF
}

.status-label[theme~="primary"] {
    background-color: rgba(141, 198, 63, 0.7);
    color: #FFFFFF;
}


/* Neuer Antrag Stile*/
.neuer-antrag-card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.new-request-button2 {
    background-color: #2F5A83;
    color: #FFFFFF;
    margin-top: 20px;
    font-size: 24px;
    border-radius: 15px;
}

.new-request-button2:hover {
    background-color: #8DC63F;
    color: #FFFFFF;
}

.hint-label {
    font-size: 12px;
    color: #888;
    margin-top: 20px;
}

/* Logout Icon für beide Seiten*/
.logout-button {
    background-color: #FFFFFF;
    color: #2F5A83;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 8px;
   /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 16px;
    justify-content: center;
    gap: 8px;
}

.logout-button:hover {
    background-color: #2F5A83;
    color: #FFFFFF;
    border: 2px solid #2F5A83;
    /*box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);*/
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}


.note-style {
    background-color: #fff8b3;
    border: 1px solid #e0c97f;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-family: 'Courier New', Courier, monospace; /* Schreibmaschinenschrift */
    line-height: 1.5; /* Zeilenabstand */
    margin-bottom: 10px;
    width: 100%; /* Anpassung an den verfügbaren Platz */
    max-width: 500px; /* Maximalbreite */
}

.startseite-view {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white !important; /* Setzt den gesamten Hintergrund auf Weiß */
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.poster-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin-left: auto;
    background-color: #8DC63F;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}