/* Allgemeines Styling für Karten */

.card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
}


/* Logout-Button */
.logout-button {
    background-color: transparent;
    color: #2F5A83;
    border: 2px solid #fff;
}