/* Hintergrund und Container */
.view-container {
    display: flex !important; /* Flexbox aktivieren */
    justify-content: center !important; /* Horizontal zentriert */
    align-items: center !important; /* Vertikal zentriert */
    height: auto !important; /* Volle Höhe des Viewports */
    min-height: 100vh !important;
    margin: 0 !important;
    padding: 0 !important;
    background: linear-gradient(135deg, #2F5A83, #244567) !important;
    overflow: hidden !important;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;

    background-size: cover;
}

/* Formular-Container */
.form-container {
    background: #fff !important;
    padding: 30px !important;
    border-radius: 10px !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
    width: 400px !important;
    text-align: center !important;
    margin: 0 auto !important;
    z-index: 2;
}

/* Titel im Formular */
.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

/* Eingabefelder */
.text-field, .role-selection {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

/* Button-Stile */
.button {
    width: 100%;
    padding: 12px;
    background-color: #2F5A83;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.berechnen-button {
    background-color: #006a4e;
    color: white;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 18px;
}

.berechnen-button:hover {
    background-color: #8DC63F;
}

.button:hover {
    background-color: #244567;
}

/* Link-Stil für Passwort vergessen */
.link, .forgot-password-link {
    color: #2F5A83;
    text-decoration: underline;
    font-size: 0.9em;
}

.link:hover, .forgot-password-link:hover {
    color: #2F5A83;
    text-decoration: underline;
}

/* Container für Sicherheitsfragen */
.reset-container {
    width: 400px;
    padding: 30px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.security-questions-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: #333; /* Passe die Farbe an, falls nötig */
}

/* Fehlercontainer */
.error-container {
    margin-top: 10px;
    color: #e74c3c; /* Dezentes Rot für Fehlermeldungen */
    font-size: 0.95em;
    text-align: left; /* Linksbündige Fehlermeldungen */
}

/* Fehlernachricht */
.error-message {
    margin: 5px 0;
    padding: 5px;
    background-color: #fce4e4; /* Heller roter Hintergrund */
    border-left: 4px solid #e74c3c; /* Linker Rand in kräftigem Rot */
    border-radius: 4px;
}

/* Invalides Eingabefeld */
.invalid-field {
    border: 2px solid #e74c3c; /* Kräftiger roter Rahmen */
    background-color: #fce4e4; /* Heller roter Hintergrund */
    transition: background-color 0.3s, border 0.3s; /* Sanfter Übergang */
}

/* Zusatz für Hover-Effekt beim Button */
.button:hover {
    background-color: #8DC63F;
}

/* Richtig beantwortet */
.text-field.correct {
    background-color: #eaffea; /* Leichtes Grün */
    border-color: green;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="green" viewBox="0 0 24 24" width="24" height="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.2l-4.2-4.2-1.4 1.4L9 19 21 7l-1.4-1.4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px 20px;
}

/* Falsch beantwortet */
.text-field.incorrect {
    background-color: #ffeaea; /* Leichtes Rot */
    border-color: red;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 0 24 24" width="24" height="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px 20px;
}

/* Gemeinsame Dropdown-Klasse */
.dropdown {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Hover und Fokus für Dropdown */
.dropdown:hover, .dropdown:focus {
    border-color: #2F5A83;
    box-shadow: 0 0 5px #1C3650;
}

.banner {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 10; /* Sicherstellen, dass er über allem liegt */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.banner-title {
    font-size: 50px;
    color: #333;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.banner-logo {
    width: 80px;
    height: auto;
    align-items: center;
}

.logo-before {
    width: 80px;
    height: auto;
}

.logo-title-container {
    display: flex;
    flex-direction: row; /* Titel und Slogan in einer Zeile */
    align-items: center;
    justify-content: center;
    gap: 5px;

}

#registration-zacken {
    position: fixed;
    top: 0;
    left: 0;
    width: 110vw;
    height: 110vh;
    z-index: -1; /* Hintergrundebene */
    opacity: 0.5; /* Transparenz */
    pointer-events: none;
    background-size: contain;
}

#registration-zacken path {
    stroke-width: 25px !important;
}

.form-container button {
    margin-top: 20px; /* Abstand nach oben */
}

.svgContainer {
    position: absolute;
    z-index: 10;
}

.button-behind {
    width: 100% !important;
    padding: 12px;
    background-color: #2F5A83;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 5;
}

.button-behind:hover {
    background-color: #8DC63F;
}

.banner-slogan {
    font-size: 18px;
    color: #555;
    text-align: center;
    width: 100%;
    font-style: italic;
    margin: 22px 0 0 0;
}

.logo-title-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px; /* Abstand zwischen Logo und Überschrift */
}

.register-view {
    position: relative;
    background-color: white !important; /* Entfernt die Hintergrundfarbe */
    padding-top: 30px;
    padding-bottom: 0;
    min-height: 100vh;

}

.register-view .form-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Schattierung */
    background-color: white !important;
    text-align: center;
    margin-left:auto;
    margin-right:auto;

}

.background-animation {
    z-index: 1; /* Hintergrundebene */
    position: absolute; /* Positionierung */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5; /* Transparenz für Abschwächung */
    pointer-events: none; /* Keine Interaktion */
}
.register-view .view-container {
    z-index: 2;
    background: none !important;
    height: auto !important;
    margin: 0;
    padding: 0;

}

.admin-startseite-view {
    background-color: white; /* Weißer Hintergrund */
    min-height: 100vh; /* Deckt die gesamte Höhe des Bildschirms ab */
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.register-view .banner {
    background: none !important;
    box-shadow: none !important;
}

vaadin-vertical-layout[theme~="spacing"] {
    gap: 0 !important;
}

.admin-startseite-view h1 {
    margin-top: -30px !important;
}

/* Buttons bei PB */
.abbrechen-button3 {
    background-color: #FFFFFF;
    color: #E74C3C;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.abbrechen-button3:hover {
    background-color: #FFFFFF;
    color: #C0392B;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}


.genehmigen-button3{
    background-color: #2F5A83;
    color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.genehmigen-button3:hover {
    background-color: #8DC63F;
    color: #FFFFFF;
}


.ablehnen-button3 {
    background-color: #FFFFFF;
    color: #2F5A83;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.ablehnen-button3:hover {
    background-color: #F9F9F9;
    color: #8DC63F;
}
.ablehnungAbsenden-button3 {
    background-color: #2F5A83;
    color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.ablehnungAbsenden-button3:hover {
    background-color: #8DC63F;
    color: #FFFFFF;
}

.ablehnungs-abbrechen-button3 {
    background-color: #FFFFFF;
    color: #E74C3C;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.ablehnungs-abbrechen-button3:hover {
    background-color: #FFFFFF;
    color: #C0392B;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/*Buttons abrunden*/
.abbrechen-button3, .genehmigen-button3, .ablehnen-button3 {
    border-radius: 15px;
}

.ablehnungs-abbrechen-button3, .ablehnungAbsenden-button3 {
    border-radius: 15px;
}

.close-button3 {
    background-color: #2F5A83;
    color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.close-button3:hover {
    background-color: #8DC63F;
    border-radius: 15px;
    color: #FFFFFF;
}

.antragAnzeigen-button3 {
    background-color: #F7F7F7;
    color: #2F5A83;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.antragAnzeigen-button3:hover {
    /* background-color: #2F5A83;
     color: white;*/
    border-radius: 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}


.posterAnzeigen-button3 {
    background-color: #F7F7F7;
    color: #8DC63F;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.posterAnzeigen-button3:hover {
    /* background-color: #2F5A83;
     color: white;*/
    border-radius: 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

