/* Stil für Pflichtfelder mit rotem Hintergrund, wenn leer */
.mandatory-field input,
.mandatory-field textarea,
.mandatory-field [part="input-field"],
.mandatory-field [part="value"] {
    background-color: rgba(255, 0, 0, 0.2); /* Heller Rotton */
    border-radius: 4px;
}

/* Hauptüberschrift-Stil */
h1 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
}

/* Sektion-Überschrift */
h2 {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    width: 100%;
}

/* Stil für das gesamte Formular */
form-layout {
    max-width: 800px;
    margin: 0 auto;
}

/* Abstand für Textfelder und Textbereiche */
.text-field,
.text-area,
.email-field,
.number-field,
.date-picker {
    width: 100%;
    margin-bottom: 15px;
}

/*Container für Button für Anordnung*/
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    width: auto;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;


    /* Stil für Buttons */

    .button {
        padding: 15px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: auto;

    }

    .speichern-button {
        background-color: #f8f9fa;
        color: black;
    }

    .speichern-button:hover {
        background-color: #e2e6ea;

        .absende-button {
            background: #dc3545;
            color: white;
        }

        .absenden-button:hover {
            background-color: #c82333;
        }


        /* Container-Stil für die Sektionen  */

        div[style*="padding: 20px;"] {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #f9f9f9;
            margin-bottom: 20px;
        }

    }

}
