/* Hintergrund und Container */
.view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #ff0080, #ff80bf);
}

/* Formular-Container */
.form-container {
    width: 400px;
    padding: 30px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Titel im Formular */
.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

/* Eingabefelder */
.text-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}



.button:hover {
    background-color: #e03570;
}

/* Link-Stil für Passwort vergessen */
.link, .forgot-password-link {
    color: #ff0080;
    text-decoration: underline;
    font-size: 0.9em;
}

.link:hover, .forgot-password-link:hover {
    color: #ff4da6;
    text-decoration: underline;
}

/* Container für Sicherheitsfragen */
.reset-container {
    width: 400px;
    padding: 30px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.security-questions-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: #333; /* Passe die Farbe an, falls nötig */
}


