
/* Verhindert, dass Platz für den Drawer reserviert wird */
[part="drawer"] {
  display: none !important;
}

[part="content"] {
  margin-top: 0 !important;
}

/* Entfernt auch den Navbar-Bereich*/
[part="navbar"] {
  display: none !important;
}


